# Predicting Student Admissions with Neural Networks in Keras
In this notebook, we predict student admissions to graduate school at UCLA based on three pieces of data:
- GRE Scores (Test)
- GPA Scores (Grades)
- Class rank (1-4)

The dataset originally came from here: http://www.ats.ucla.edu/

In [2]:
# Do our imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading the csv file into a pandas DataFrame
df = pd.read_csv('student_data.csv')

# Peek at DF
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

## EDA

In [ ]:
# Function to help us plot
def plot_points(df):
    X = np.array(df[["gre","gpa"]])
    y = np.array(df["admit"])
    admitted = X[np.argwhere(y==1)]
    rejected = X[np.argwhere(y==0)]
    plt.scatter([s[0][0] for s in rejected], [s[0][1] for s in rejected], s = 25, color = 'red', edgecolor = 'k')
    plt.scatter([s[0][0] for s in admitted], [s[0][1] for s in admitted], s = 25, color = 'yellow', edgecolor = 'k')
    plt.xlabel('Test (GRE)')
    plt.ylabel('Grades (GPA)')
    
# Plotting the points
plot_points(df)
plt.show()

#### Analysis

It sort of looks like the students with high scores & grades got in while the ones with low scores didn't, (which is pretty much what we would expect).  However the data is not as nicely separable as we hoped it would. Let's see what happens if we divide it on rank.

In [ ]:
# Breakout ranks
rank1 = df[df["rank"]==1]
rank2 = df[df["rank"]==2]
rank3 = df[df["rank"]==3]
rank4 = df[df["rank"]==4]

# Plotting the graphs
plot_points(rank1)
plt.title("Rank 1")
plt.show()
plot_points(rank2)
plt.title("Rank 2")
plt.show()
plot_points(rank3)
plt.title("Rank 3")
plt.show()
plot_points(rank4)
plt.title("Rank 4")
plt.show()